html{
    width: 100%;
}

body{
    background-image:url("/semanaDW/2_menu_desplegable/media/bg.png");
    background-size: cover;
    margin: 0px;
    width: 100%;
}

header{
    width: 97vw;
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 1vw;
    padding-left: 2vw;
    transition: 0.1s;
}

header:hover{
    background-color: #252525;
    color: #f2f2f2;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vw;
    height: 80vh;
}

.text{
    display: grid;
    margin: 2vw;
    font-family: sans-serif;
}

h2{
    font-weight: 700;
    font-size: 2.5vw;
}

span{
    font-weight: 550;
    font-size: 2vw;
}

a{
    text-decoration: none;
    color: rgb(24, 26, 26);
    font-family: sans-serif;
    margin: 2vw;
}

a:hover{
    color: beige;
}

#shoes{
    height: 80vh;
    position: fixed;
    right: -10vw;
    max-width: 45vw;
}

b{
    color: #ffbd59;
}

.elemento{
    height: max-content;
}

.contenido{
    position: absolute;
    display: none;
    flex-direction: column;
    background: #252525;
}

.elemento:hover .contenido {
    display: flex;
    position: fixed;
    top:50px;
}

a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: larger;
    color: #f2f2f2;
    height: 30px;
    line-height: 30px;
}

a:hover{
    background-color: grey;
}