html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

#presentacion{
    display: flex;
    text-align: center;
    padding-top: 3%;
    background-color: #e4e4e4;
    width: 20vw;
    max-height: 5000vh;
    flex-direction: column;
    align-items: center;
}

#photo{
    height: 34vh;
    width: 17vw;
    border-radius: 50%;
    margin-bottom: 0px;
}

ul{
    margin-top: 30%;
    display: grid;
    margin-right: 20%;
    gap: 40%;
    max-height: 15vh;
}

li{ 
    list-style: none;
}

#ToDo{
    margin-top: 70%;
    color: #708090;
    font-weight: bolder;
    font-size: 110%;
}

main{
    padding-top: 3%;
    width: 80vw;
    display: flex;
    align-items: center;
    min-height: 94vh;
    background-color: #f0f0f0;
    flex-direction: column;
    justify-content: flex-start;
}

.inputs{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f0f0f0;
}

#boton{
    font-size: 80%;
    background-color: #007BFF;
    border-radius: 0.8vw;
    padding: 1%;
    color: beige;
    margin: 0.5%;
    border: none;
    width: 13%;
}

#boton:hover{
    background-color: #006bdd;
}

#botonSeleccionar{
    font-size: 80%;
    background-color: #007BFF;
    border-radius: 0.8vw;
    padding: 1%;
    color: beige;
    margin: 0.5%;
    border: none;
    width: 16%;
}

#botonSeleccionar:hover{
    background-color: #006bdd;
}

#ingreso{
    font-size: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.8vw;
    border: none;
    padding: 1%;
    width: 25%;
    margin: 0.5%;
}

.tareas{
    margin-top: 3%;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 3vh;
}

.tarea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    border: 2px solid #708090;
    border-radius: 0.8vw;
    max-height: 0.0001vh;
    padding: 7%;
}

.imagen-tarea{
    max-height: 4vh;
    max-width: 10vw;
}